.info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 8rem;
    overflow: auto;
    overflow-x: scroll;
    padding: var(--content-padding-small);
}

.info-column {
    flex-basis: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-row.row-two .info-column {
    flex-direction: column-reverse;
}

.info-text>h3 {
    margin-bottom: 1rem;
}

.info-row.row-two .info-text>h3 {
    text-align: center;
}

