.flag-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-container.flag-container {
    padding-top: 2rem;
}

.country {
    display: flex;
    /* justify-content: ; */
    gap: 1rem;
    height: 50px;
    overflow: hidden;
}

.country__flag {
    width: 80px;
}

.country__info {
    white-space: nowrap;
}

.flag-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}