.publication__buttons{
    justify-content: space-around;
    gap: 1.5rem;
    margin: 2rem;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    
}
.publication__buttons.outer-buttons{
    margin-top: 2rem;
}
.publication__buttons.inner-buttons{
    border-top: 1px solid var(--black-color-light);
    padding-top: 1.5rem;
    display: none;
}
.publication__buttons.inner-buttons.visible{
    display: flex;
}
.pub-button{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--electric-blue-color);
}
.pub-button:hover,
.pub-button:focus{
    background-color: var(--neon-green-color);
}
.pub-button.active{
    background-color: var(--neon-green-color);
}

